### Environment and Infrastructure

In [2]:
import psycopg2 as pg
import pandas as pd
import pandas.io.sql as pd_sql
import numpy as np
from sqlalchemy import create_engine

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
engine = create_engine('postgresql://elena:5432@localhost/mid') #'postgresql://ubuntu:5432@3.86.206.29/mid'
connection_args = {
    'host':"localhost", #3.86.206.29
    #'user':'ubuntu',
    'dbname':'mid',
    'port':5432
}
connection = pg.connect(**connection_args)

In [4]:
!pwd

/Users/elena/Desktop/Metis/Project3_MID

In [5]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

def largestPrimeFactor(n):
    for i in range(n,1,-1):
        if n%i==0:
            if is_prime(i):
                return i

### Exploring and Cleaning MIDA

Dispute-level: one record per dispute.

In [6]:
MIDA = pd.read_stata('MID4/MIDA_4_3.dta')

In [7]:
MIDA.shape

(2315, 24)

In [8]:
MIDA.columns
#outcome: 1:Victory A, 2:Victory B, 3:Yield A, 4:Yield B, 5:Stalemate, 6:Compromise, 7:Released, 8:Unclear, 9:Joins ongoing war, -9:Missing
#settle: 1:Negotioated, 2:Imposed, 3:None, 4: Unclear, -9:Missing 
#fatality: 0:None, 1:1-25deaths, 2:26-100 deaths, 3:101-250 deaths, 4:251-500, 5:501-999, 6:>999 deaths, -9:missing
#highest hostility action: 0:No militarized action, 1:Threat to use force, 2:Threat to bolckade, 3:Threat to occupy territory, 
#########################4:Threat to declare a war, 5:Threat to use CBR weapons, 6:Threat to join the war, 7:Show of force,
#########################8:Alert, 9:Nuclear Alert, 10:Mobilization, 11: Fortify Border, 12:Border violation, 13:Blockade,
#########################14:Occupation of territory, 15:Seizure, 16:Attack, 17:Clash, 18:Declaration of war, 19:Use of CBBR weapons,
#########################20:Begin Interstate War, 21:Join Interstate war, -9: Missing
#hostility level: 1:no militarized action, 2:Threat to use force, 3:Display force, 4:Use of Force, 5: War

Index(['dispnum3', 'dispnum4', 'stday', 'stmon', 'styear', 'endday', 'endmon',
       'endyear', 'outcome', 'settle', 'fatality', 'fatalpre', 'maxdur',
       'mindur', 'hiact', 'hostlev', 'recip', 'numa', 'numb', 'link1', 'link2',
       'link3', 'ongo2010', 'version'],
      dtype='object')

In [9]:
MIDA.rename(columns={'dispnum3':'dispute_number_v3', 
                     'dispnum4':'dispute_number_v4', 
                     'stday':'start_day', 
                     'stmon':'start_month', 
                     'styear':'start_year', 
                     'endday':'end_day',
                     'endmon':'end_month',
                     'endyear':'end_year',
                     'fatality':'fatality_bucket',
                     'fatalpre':'fatalities_number',
                     'maxdur':'maximum_diration',
                     'mindur':'minimum_duration',
                     'hiact':'highest_hostile_action[hostility_level]',
                     'hostlev':'hostility_level',
                     'resip':'resiprocated_dispute',
                     'numa':'number_states_side_a',
                     'numb':'number_states_side_b',
                     'link1':'related_dispute_number_1',
                     'link2':'related_dispute_number_2',
                     'link3':'related_dispute_number_3',
                     'ongo2010':'ongoing_2010',
                     'version':'dataset_version'
                    }, inplace=True)

In [10]:
MIDA['related_dispute_number_1'][MIDA['related_dispute_number_1']=='147W'] = np.nan

/Users/elena/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
MIDA['related_dispute_number_2'][MIDA['related_dispute_number_2']=='166W'] = np.nan

/Users/elena/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
MIDA.to_csv('MID4/MIDA.csv')

In [16]:
MIDA_chunks = pd.read_csv('MID4/MIDA.csv', chunksize=463)

In [17]:
for chunk in MIDA_chunks:
    chunk.to_sql(name='mida', if_exists='append', con=engine)

In [95]:
query = "SELECT count(*) FROM mida;"
pd_sql.read_sql(query, connection)

   count
0   2315

### Exploring and Cleaning MIDB

Participant-Dispute level: one record per participant per dispute.

In [6]:
MIDB = pd.read_stata('MID4/MIDB_4_3.dta')

In [7]:
MIDB.shape

(5558, 20)

In [8]:
MIDB.columns
#revision_type: 0:Not applicable, 1:Territory, 2:Policy, 3:Regime/government, 4:Other, -9:Missing

Index(['dispnum3', 'dispnum4', 'stabb', 'ccode', 'stday', 'stmon', 'styear',
       'endday', 'endmon', 'endyear', 'sidea', 'revstate', 'revtype1',
       'revtype2', 'fatality', 'fatalpre', 'hiact', 'hostlev', 'orig',
       'version'],
      dtype='object')

In [9]:
MIDB.rename(columns={'dispnum3':'dispute_number_v3', 
                     'dispnum4':'dispute_number_v4',
                     'stabb':'state_abbriviated',
                     'ccode':'country_code',
                     'stday':'start_day', 
                     'stmon':'start_month', 
                     'styear':'start_year', 
                     'endday':'end_day',
                     'endmon':'end_month',
                     'endyear':'end_year',
                     'sidea':'is_side_a',
                     'revstate':'is_revisionist_state',
                     'revtype1':'revision_type_1',
                     'revtype2':'revision_type_2',
                     'fatality':'fatality_bucket',
                     'fatalpre':'fatalities_number',
                     'hiact':'highest_hostile_action[hostility_level]',
                     'hostlev':'hostility_level',
                     'orig':'dispute_originator',
                     'version':'dataset_version'
                    }, inplace=True)

In [10]:
MIDB.reset_index(inplace=True)

In [11]:
MIDB.set_index('index', inplace=True)

In [12]:
MIDB.to_csv('MID4/MIDB.csv')

In [13]:
MIDB_chunks = pd.read_csv('MID4/MIDB.csv', chunksize=397)

In [14]:
for chunk in MIDB_chunks:
    chunk.to_sql(name='midb_main', if_exists='append', con=engine)

In [94]:
query = "SELECT count(*) FROM midb_main;"
pd_sql.read_sql(query, connection)

   count
0   5558

### Exploring and Cleaning MIDI

Incident-level: one record per incident per participant.

In [23]:
MIDI = pd.read_stata('MID4/MIDI_4_3.dta')

In [24]:
MIDI.shape

(3306, 20)

In [25]:
MIDI.columns
#revision_type: 0:Not applicable, 1:Territory, 2:Policy, 3:Regime/government, 4:Other, -9:Missing

Index(['dispnum3', 'incidnum3', 'dispnum4', 'incidnum4', 'stday', 'stmon',
       'styear', 'endday', 'endmon', 'endyear', 'duration', 'tbi', 'fatality',
       'fatalpre', 'action', 'hostlev', 'numa', 'revtype1', 'revtype2',
       'version'],
      dtype='object')

In [26]:
MIDI.rename(columns={'dispnum3':'dispute_number_v3', 
                     'dispnum4':'dispute_number_v4',
                     'incidnum3':'incident_number_v3', 
                     'incidnum4':'incident_number_v4',
                     'stday':'start_day_incident', 
                     'stmon':'start_month_incident', 
                     'styear':'start_year_incident', 
                     'endday':'end_day_incident',
                     'endmon':'end_month_incident',
                     'endyear':'end_year_incident',
                     'duration':'duration_incident',
                     'tbi':'days_btwn_consec_incidents_within_dispute',
                     'fatality':'fatality_bucket_incident',
                     'fatalpre':'fatalities_number_incident',
                     'action':'hostile_action_incident[hostility_level]',
                     'hostlev':'hostility_level_incident',
                     'numa':'states_number_a',
                     'revtype1':'revision_type_1',
                     'revtype2':'revision_type_2',
                     'version':'dataset_version'
                    }, inplace=True)

In [27]:
MIDI.reset_index(inplace=True)
MIDI.set_index('index', inplace=True)

In [28]:
MIDI.to_csv('MID4/MIDI.csv')

In [29]:
MIDI_chunks = pd.read_csv('MID4/MIDI.csv', chunksize=114)

In [30]:
for chunk in MIDI_chunks:
    chunk.to_sql(name='midi', if_exists='append', con=engine)

In [93]:
query = "SELECT count(*) FROM midi;"
pd_sql.read_sql(query, connection)

   count
0   3306

### Exploring and Cleaning MIDIP

Participant-Incident-level: one record per participant per incident. 

*cookbook is confusing here as it calls it 'incident' level, but clearly it is participant level for incident*

In [15]:
MIDIP = pd.read_stata('MID4/MIDIP_4_3.dta')

In [16]:
MIDIP.shape

(7165, 21)

In [17]:
MIDIP.columns
#revision_type: 0:Not applicable, 1:Territory, 2:Policy, 3:Regime/government, 4:Other, -9:Missing

Index(['dispnum3', 'incidnum3', 'dispnum4', 'incidnum4', 'stabb', 'ccode',
       'stday', 'stmon', 'styear', 'endday', 'endmon', 'endyear', 'insidea',
       'sidea', 'fatality', 'fatalpre', 'action', 'hostlev', 'revtype1',
       'revtype2', 'version'],
      dtype='object')

In [18]:
MIDIP.rename(columns={'dispnum3':'dispute_number_v3', 
                     'dispnum4':'dispute_number_v4',
                     'incidnum3':'incident_number_v3', 
                     'incidnum4':'incident_number_v4',
                     'stabb':'state_abbriviated',
                     'ccode':'country_code',
                     'stday':'start_day_incident', 
                     'stmon':'start_month_incident', 
                     'styear':'start_year_incident', 
                     'endday':'end_day_incident',
                     'endmon':'end_month_incident',
                     'endyear':'end_year_incident',
                     'insidea':'is_incident_side_a',
                     'sidea':'is_side_a',
                     'fatality':'fatality_bucket_incident',
                     'fatalpre':'fatalities_number_incident',
                     'action':'hostile_action_incident[hostility_level]',
                     'hostlev':'hostility_level_incident',
                     'revtype1':'revision_type_1',
                     'revtype2':'revision_type_2',
                     'version':'dataset_version'
                    }, inplace=True)

In [19]:
MIDIP.reset_index(inplace=True)
MIDIP.set_index('index', inplace=True)

In [20]:
MIDIP.to_csv('MID4/MIDIP.csv')

In [21]:
MIDIP_chunks = pd.read_csv('MID4/MIDIP.csv', chunksize=1433)

In [22]:
for chunk in MIDIP_chunks:
    chunk.to_sql(name='midip', if_exists='append', con=engine)

In [92]:
query = "SELECT count(*) FROM midip;"
pd_sql.read_sql(query, connection)

   count
0   7165

## Additional Data: Military Spending

https://www.kaggle.com/nitinsss/military-expenditure-of-countries-19602019

In [31]:
mil_exp = pd.read_csv('MID4/Military Expenditure.csv')

In [32]:
mil_exp = pd.melt(mil_exp, id_vars=['Name', 'Code', 'Type', 'Indicator Name'], 
        value_vars=[str(year) for year in np.arange(1960, 2018)],
        var_name='year',
        value_name='mil_exp')

In [33]:
mil_exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15312 entries, 0 to 15311
Data columns (total 6 columns):
Name              15312 non-null object
Code              15312 non-null object
Type              15312 non-null object
Indicator Name    15312 non-null object
year              15312 non-null object
mil_exp           9045 non-null float64
dtypes: float64(1), object(5)
memory usage: 717.9+ KB

In [34]:
mil_exp.to_csv('mil_exp_tall.csv')

In [35]:
mil_exp=pd.read_csv('MID4/mil_exp_tall.csv')

In [36]:
mil_exp.rename(columns={'Name':'name', 
                         'Code':'code', 
                         'Type':'type', 
                         'Indicator Name':'indicator_name'},
                inplace=True)

In [37]:
mil_exp.to_csv('mil_exp_tall.csv')

In [38]:
mil_exp_chunks = pd.read_csv('MID4/mil_exp_tall.csv', chunksize=528)

In [39]:
for chunk in mil_exp_chunks:
    chunk.to_sql(name='mil_exp', if_exists='append', con=engine)

In [43]:
query = "SELECT year, mil_exp FROM mil_exp LIMIT 5;"
pd_sql.read_sql(query, connection)

   year mil_exp
0  1960    None
1  1960    None
2  1960    None
3  1960    None
4  1960    None

In [60]:
query = "SELECT count(*) FROM mil_exp_;"
pd_sql.read_sql(query, connection)

   count
0  15312

## Additional Data: Macroeconomics

### Key metircs 2017

Form Kaggle, 'countries' dataset composed from UN Data.

https://www.kaggle.com/sudalairajkumar/undata-country-profiles

In [44]:
country_profile_un = pd.read_csv('MID4/country_profile_variables.csv')

In [45]:
country_profile_un.shape

(229, 50)

In [46]:
country_profile_un.set_index('country', inplace=True)

In [47]:
country_profile_un.rename(columns={'Surface area (km2)':'surface_area_km2',
                                   'Region':'region',
                                  'Population in thousands (2017)':'population_K',
                                  'Population density (per km2, 2017)':'population_density_per_km2',
                                  'Sex ratio (m per 100 f, 2017)':'sex_ratio_m_per_100_f',
                                  'GDP: Gross domestic product (million current US$)':'gdp_mln_usd',
                                  'GDP growth rate (annual %, const. 2005 prices)':'gdp_growth_rate_annual',
                                  'GDP per capita (current US$)':'gdp_per_capita_usd',
                                  'Economy: Agriculture (% of GVA)':'economy_agriculture_perc_GVA',
                                  'Economy: Industry (% of GVA)':'economy_industry_perc_GVA',
                                  'Economy: Services and other activity (% of GVA)':'economy_services_other_perc_GVA',
                                  'Employment: Agriculture (% of employed)':'employment_agriculture_perc',
                                  'Employment: Industry (% of employed)':'employment_industry_perc',
                                  'Employment: Services (% of employed)':'employment_services_perc',
                                  'Unemployment (% of labour force)':'unemployment_perc',
                                  'Labour force participation (female/male pop. %)':'labour_participation_gender_f_to_m_perc',
                                  'Agricultural production index (2004-2006=100)':'agricultural_production_index',
                                  'Food production index (2004-2006=100)':'food_production_index',
                                  'International trade: Exports (million US$)':'intl_trade_exports_mln_usd',
                                  'International trade: Imports (million US$)':'intl_trade_imports_mln_usd',
                                  'International trade: Balance (million US$)':'intl_trade_balance_mln_usd',
                                  'Balance of payments, current account (million US$)':'balance_payments_current_mln_usd',
                                  'Population growth rate (average annual %)':'population_growth_ann_perc',
                                  'Urban population (% of total population)':'urban_population',
                                  'Urban population growth rate (average annual %)':'urban_population_growth_rate_ann_perc',
                                  'Fertility rate, total (live births per woman)':'fertility_rate_live_births_per_f',
                                  'Life expectancy at birth (females/males, years)':'life_expectancy',
                                  'Population age distribution (0-14 / 60+ years, %)':'age_distribution_0-14_60+_perc',
                                  'International migrant stock (000/% of total pop.)':'intl_migration_population_perc',
                                  'Refugees and others of concern to UNHCR (in thousands)':'refugees_K',
                                   'Infant mortality rate (per 1000 live births':'infant_mortality_rate_per_1000_live',
                                   'Health: Total expenditure (% of GDP)':'health_expenditure_gdp_perc',
                                   'Health: Physicians (per 1000 pop.)':'health_physicians_per_1000',
                                   'Education: Government expenditure (% of GDP)':'edu_gov_expenditure_gdp_perc',
                                   'Education: Primary gross enrol. ratio (f/m per 100 pop.)':'edu_primary_gross_enroll_ratio_f/m_per_100',
                                   'Education: Secondary gross enrol. ratio (f/m per 100 pop.)':'edu_secondary_gross_enroll_ratio_f/m_per_100',
                                   'Education: Tertiary gross enrol. ratio (f/m per 100 pop.)':'edu_tertiary_gross_enroll_ratio_f/m_per_100',
                                   'Seats held by women in national parliaments %':'female_seats_national_parliament_perc',
                                   'Mobile-cellular subscriptions (per 100 inhabitants)':'mobile_subscriptions_per_100',
                                   'Mobile-cellular subscriptions (per 100 inhabitants).1':'mobile_subscriptions_per_100_1',
                                   'Individuals using the Internet (per 100 inhabitants)':'internet_users_per_100',
                                   'Threatened species (number)':'threatened_species_n',
                                   'Forested area (% of land area)':'forest_area_perc', 
                                   'CO2 emission estimates (million tons/tons per capita)':'CO2_emiss_estimate_mln_ton_ton_per_capita',
                                   'Energy production, primary (Petajoules)':'energy_production_primary_petajoules',
                                   'Energy supply per capita (Gigajoules)':'energy_supply_per_capita_gigajoules',
                                   'Pop. using improved drinking water (urban/rural, %)':'population_improved_drinking_water_access_urban/rural_perc',
                                   'Pop. using improved sanitation facilities (urban/rural, %)':'population_improved_sanitation_facil_access_urban/rural_perc',
                                   'Net Official Development Assist. received (% of GNI)':'net_official_develop_assist_recieved_GNI_perc'}, inplace=True)

In [48]:
country_profile_un.to_csv('country_profile_un_rich_2017.csv')

In [49]:
country_profile_un = pd.read_csv('country_profile_un_rich_2017.csv')

In [51]:
country_profile_un.to_sql(name='country_profile_un_rich_2017', if_exists='append', con=engine)

In [79]:
query = "SELECT count(*) FROM country_profile_un_rich_2017;"
pd_sql.read_sql(query, connection)

   count
0    229

In [70]:
#!pip install datapackage
#from datapackage import Package
#package=Package('https://datahub.io/core/gdp/datapackage.json')
#print(package.resource_names)
#for resource in package.resources:
#    if resource.descriptor['datahub']['type'] == 'derived/csv':
#        gdp = resource.read()
#type(gdp)
#gdp = pd.DataFrame(gdp)

### GDP

https://data.worldbank.org/indicator/NY.GDP.MKTP.CD

In [52]:
gdp_hist = pd.read_csv('MID4/gdp.csv')

In [53]:
gdp_hist = pd.melt(gdp_hist, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
        value_vars=[str(year) for year in np.arange(1960, 2019)],
        var_name='year',
        value_name='gdp')

In [54]:
gdp_hist.rename(columns={'Country Name':'name', 
                         'Country Code':'code', 
                         'Indicator Name':'indicator_name', 
                         'Indicator Code':'indicator_code'},
                inplace=True)

In [55]:
gdp_hist.to_csv('gdp_hist.csv')

In [79]:
#gdp_hist.shape
#largestPrimeFactor(15576)
#gdp_hist.indicator_name.unique()

In [56]:
gdp_hist_chunks = pd.read_csv('gdp_hist.csv', chunksize=264)

In [57]:
for chunk in gdp_hist_chunks:
    chunk.to_sql(name='gdp_hist', if_exists='append', con=engine)

In [80]:
query = "SELECT count(*) FROM gdp_hist;"
pd_sql.read_sql(query, connection)

   count
0  15576

### Population

https://data.worldbank.org/indicator/SP.POP.TOTL

In [82]:
population_hist = pd.read_csv('MID4/population.csv')

In [83]:
#population_hist = population_hist.iloc[:,:-1]

In [84]:
population_hist = pd.melt(population_hist, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
        value_vars=[str(year) for year in np.arange(1960, 2019)],
        var_name='year',
        value_name='population')

In [85]:
population_hist.rename(columns={'Country Name':'name', 
                         'Country Code':'code', 
                         'Indicator Name':'indicator_name', 
                         'Indicator Code':'indicator_code'},
                inplace=True)

In [86]:
population_hist.to_csv('population_hist.csv')

In [87]:
population_hist.shape
#largestPrimeFactor(15576)

(15576, 6)

In [88]:
population_hist_chunks = pd.read_csv('MID4/population_hist.csv', chunksize=264)

In [89]:
for chunk in population_hist_chunks:
    chunk.to_sql(name='population_hist', if_exists='append', con=engine)

In [90]:
query = "SELECT count(*) FROM population_hist;"
pd_sql.read_sql(query, connection)

   count
0  15576

### Economy

https://data.worldbank.org/topic/economy-and-growth

In [70]:
economy_hist = pd.read_csv('MID4/economy.csv')

In [71]:
economy_hist['Indicator Name'].unique()

array(['PPP conversion factor, private consumption (LCU per international $)',
       'Price level ratio of PPP conversion factor (GDP) to market exchange rate',
       'PPP conversion factor, GDP (LCU per international $)',
       'DEC alternative conversion factor (LCU per US$)',
       'Terms of trade adjustment (constant LCU)',
       'Net secondary income (Net current transfers from abroad) (constant LCU)',
       'Net secondary income (Net current transfers from abroad) (current LCU)',
       'Net secondary income (Net current transfers from abroad) (current US$)',
       'Taxes less subsidies on products (constant LCU)',
       'Taxes less subsidies on products (current LCU)',
       'Taxes less subsidies on products (current US$)',
       'Net primary income (Net income from abroad) (constant LCU)',
       'Net primary income (Net income from abroad) (current LCU)',
       'Net primary income (Net income from abroad) (current US$)',
       'Gross savings (% of GDP)', 'Gross savings (% of GNI)',
       'Gross savings (current LCU)', 'Gross savings (current US$)',
       'GNI per capita, PPP (constant 2011 international $)',
       'GNI per capita, PPP (current international $)',
       'GNI per capita (constant LCU)',
       'GNI per capita growth (annual %)',
       'GNI per capita (constant 2010 US$)',
       'GNI per capita (current LCU)',
       'GNI per capita, Atlas method (current US$)',
       'GNI, PPP (constant 2011 international $)',
       'GNI, PPP (current international $)', 'GNI (constant LCU)',
       'GNI growth (annual %)', 'GNI (constant 2010 US$)',
       'GNI (current LCU)', 'GNI (current US$)',
       'GNI, Atlas method (current US$)',
       'Gross domestic income (constant LCU)',
       'Gross domestic savings (% of GDP)',
       'Gross domestic savings (current LCU)',
       'Gross domestic savings (current US$)',
       'GDP per capita, PPP (constant 2011 international $)',
       'GDP per capita, PPP (current international $)',
       'GDP per capita (constant LCU)',
       'GDP per capita growth (annual %)',
       'GDP per capita (constant 2010 US$)',
       'GDP per capita (current LCU)', 'GDP per capita (current US$)',
       'GDP, PPP (constant 2011 international $)',
       'GDP, PPP (current international $)', 'GDP (constant LCU)',
       'GDP growth (annual %)', 'GDP (constant 2010 US$)',
       'GDP: linked series (current LCU)', 'GDP (current LCU)',
       'GDP (current US$)',
       'Gross value added at basic prices (GVA) (constant LCU)',
       'Gross value added at basic prices (GVA) (constant 2010 US$)',
       'Gross value added at basic prices (GVA) (current LCU)',
       'Gross value added at basic prices (GVA) (current US$)',
       'Discrepancy in expenditure estimate of GDP (constant LCU)',
       'Discrepancy in expenditure estimate of GDP (current LCU)',
       'GDP deflator (base year varies by country)',
       'Inflation, GDP deflator (annual %)',
       'Exports as a capacity to import (constant LCU)',
       'Adjusted net savings, excluding particulate emission damage (% of GNI)',
       'Adjusted net savings, excluding particulate emission damage (current US$)',
       'Adjusted net savings, including particulate emission damage (% of GNI)',
       'Adjusted net savings, including particulate emission damage (current US$)',
       'Adjusted net national income per capita (annual % growth)',
       'Adjusted net national income per capita (constant 2010 US$)',
       'Adjusted net national income per capita (current US$)',
       'Adjusted net national income (annual % growth)',
       'Adjusted net national income (constant 2010 US$)',
       'Adjusted net national income (current US$)',
       'Adjusted savings: net national savings (% of GNI)',
       'Adjusted savings: net national savings (current US$)',
       'Adjusted savings: gross savings (% of GNI)',
       'Adjusted savings: natural resources depletion (% of GNI)',
       'Adjusted savings: particulate emission damage (% of GNI)',
       'Adjusted savings: particulate emission damage (current US$)',
       'Adjusted savings: energy depletion (% of GNI)',
       'Adjusted savings: energy depletion (current US$)',
       'Adjusted savings: mineral depletion (% of GNI)',
       'Adjusted savings: mineral depletion (current US$)',
       'Adjusted savings: consumption of fixed capital (% of GNI)',
       'Adjusted savings: consumption of fixed capital (current US$)',
       'Adjusted savings: net forest depletion (% of GNI)',
       'Adjusted savings: net forest depletion (current US$)',
       'Adjusted savings: carbon dioxide damage (% of GNI)',
       'Adjusted savings: carbon dioxide damage (current US$)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Adjusted savings: education expenditure (current US$)',
       'Services, value added (% of GDP)',
       'Services, value added (annual % growth)',
       'Services, value added (constant 2010 US$)',
       'Textiles and clothing (% of value added in manufacturing)',
       'Other manufacturing (% of value added in manufacturing)',
       'Machinery and transport equipment (% of value added in manufacturing)',
       'Food, beverages and tobacco (% of value added in manufacturing)',
       'Chemicals (% of value added in manufacturing)',
       'Industry (including construction), value added (% of GDP)',
       'Industry (including construction), value added (constant LCU)',
       'Industry (including construction), value added (annual % growth)',
       'Industry (including construction), value added (constant 2010 US$)',
       'Industry (including construction), value added (current LCU)',
       'Industry (including construction), value added (current US$)',
       'Manufacturing, value added (% of GDP)',
       'Manufacturing, value added (constant LCU)',
       'Manufacturing, value added (annual % growth)',
       'Manufacturing, value added (constant 2010 US$)',
       'Manufacturing, value added (current LCU)',
       'Manufacturing, value added (current US$)',
       'Financial intermediary services indirectly Measured (FISIM) (constant LCU)',
       'Financial intermediary services indirectly Measured (FISIM) (current LCU)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (constant LCU)',
       'Agriculture, forestry, and fishing, value added (annual % growth)',
       'Agriculture, forestry, and fishing, value added (constant 2010 US$)',
       'Agriculture, forestry, and fishing, value added (current LCU)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Trade (% of GDP)',
       'External balance on goods and services (% of GDP)',
       'External balance on goods and services (constant LCU)',
       'External balance on goods and services (current LCU)',
       'External balance on goods and services (current US$)',
       'Imports of goods and services (% of GDP)',
       'Imports of goods and services (constant LCU)',
       'Imports of goods and services (annual % growth)',
       'Imports of goods and services (constant 2010 US$)',
       'Imports of goods and services (current LCU)',
       'Imports of goods and services (current US$)',
       'Gross capital formation (% of GDP)',
       'Gross capital formation (constant LCU)',
       'Gross capital formation (annual % growth)',
       'Gross capital formation (constant 2010 US$)',
       'Gross capital formation (current LCU)',
       'Gross capital formation (current US$)',
       'Changes in inventories (constant LCU)',
       'Changes in inventories (current LCU)',
       'Changes in inventories (current US$)',
       'Gross fixed capital formation (% of GDP)',
       'Gross fixed capital formation (constant LCU)',
       'Gross fixed capital formation (annual % growth)',
       'Gross fixed capital formation (constant 2010 US$)',
       'Gross fixed capital formation (current LCU)',
       'Gross fixed capital formation (current US$)',
       'Gross fixed capital formation, private sector (% of GDP)',
       'Gross fixed capital formation, private sector (current LCU)',
       'Exports of goods and services (% of GDP)',
       'Exports of goods and services (constant LCU)',
       'Exports of goods and services (annual % growth)',
       'Exports of goods and services (constant 2010 US$)',
       'Exports of goods and services (current LCU)',
       'Exports of goods and services (current US$)',
       'Gross national expenditure (% of GDP)',
       'Gross national expenditure (constant LCU)',
       'Gross national expenditure (constant 2010 US$)',
       'Gross national expenditure (current LCU)',
       'Gross national expenditure (current US$)',
       'Gross national expenditure deflator (base year varies by country)',
       'Final consumption expenditure (% of GDP)',
       'Final consumption expenditure (constant LCU)',
       'Final consumption expenditure (annual % growth)',
       'Final consumption expenditure (constant 2010 US$)',
       'Final consumption expenditure (current LCU)',
       'Final consumption expenditure (current US$)',
       'Households and NPISHs final consumption expenditure (% of GDP)',
       'Households and NPISHs Final consumption expenditure, PPP (constant 2011 international $)',
       'Households and NPISHs Final consumption expenditure, PPP (current international $)',
       'Households and NPISHs Final consumption expenditure per capita growth (annual %)',
       'Households and NPISHs Final consumption expenditure per capita (constant 2010 US$)',
       'Households and NPISHs Final consumption expenditure (constant LCU)',
       'Households and NPISHs Final consumption expenditure (annual % growth)',
       'Households and NPISHs Final consumption expenditure (constant 2010 US$)',
       'Households and NPISHs Final consumption expenditure (current LCU)',
       'Households and NPISHs Final consumption expenditure (current US$)',
       'General government final consumption expenditure (% of GDP)',
       'General government final consumption expenditure (constant LCU)',
       'General government final consumption expenditure (annual % growth)',
       'General government final consumption expenditure (constant 2010 US$)',
       'General government final consumption expenditure (current LCU)',
       'General government final consumption expenditure (current US$)',
       'Expense (% of GDP)', 'Revenue, excluding grants (% of GDP)',
       'Central government debt, total (% of GDP)',
       'Inflation, consumer prices (annual %)',
       'Total reserves minus gold (current US$)',
       'Total reserves (includes gold, current US$)',
       'Total debt service (% of GNI)',
       'Total debt service (% of exports of goods, services and primary income)',
       'Net ODA received per capita (current US$)',
       'Net ODA received (% of GNI)',
       'Net official development assistance received (current US$)',
       'Present value of external debt (% of GNI)',
       'Present value of external debt (% of exports of goods, services and primary income)',
       'Present value of external debt (current US$)',
       'Short-term debt (% of exports of goods, services and primary income)',
       'Short-term debt (% of total reserves)',
       'External debt stocks (% of GNI)',
       'External debt stocks, total (DOD, current US$)',
       'Personal remittances, received (% of GDP)',
       'Personal remittances, received (current US$)',
       'Personal transfers, receipts (BoP, current US$)',
       'Secondary income receipts (BoP, current US$)',
       'Portfolio equity, net inflows (BoP, current US$)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Foreign direct investment, net inflows (BoP, current US$)',
       'Travel services (% of service exports, BoP)',
       'Transport services (% of service exports, BoP)',
       'Exports of goods, services and primary income (BoP, current US$)',
       'Charges for the use of intellectual property, receipts (BoP, current US$)',
       'Service exports (BoP, current US$)',
       'Goods exports (BoP, current US$)',
       'Insurance and financial services (% of service exports, BoP)',
       'Exports of goods and services (BoP, current US$)',
       'Primary income receipts (BoP, current US$)',
       'Communications, computer, etc. (% of service exports, BoP)',
       'ICT service exports (% of service exports, BoP)',
       'ICT service exports (BoP, current US$)',
       'Technical cooperation grants (BoP, current US$)',
       'Grants, excluding technical cooperation (BoP, current US$)',
       'Net capital account (BoP, current US$)',
       'Net secondary income (BoP, current US$)',
       'Reserves and related items (BoP, current US$)',
       'Portfolio investment, net (BoP, current US$)',
       'Foreign direct investment, net (BoP, current US$)',
       'Net errors and omissions (BoP, current US$)',
       'Net trade in goods (BoP, current US$)',
       'Net trade in goods and services (BoP, current US$)',
       'Net primary income (BoP, current US$)',
       'Net financial account (BoP, current US$)',
       'Current account balance (% of GDP)',
       'Current account balance (BoP, current US$)',
       'Personal remittances, paid (current US$)',
       'Secondary income, other sectors, payments (BoP, current US$)',
       'Foreign direct investment, net outflows (% of GDP)',
       'Foreign direct investment, net outflows (BoP, current US$)',
       'Travel services (% of service imports, BoP)',
       'Transport services (% of service imports, BoP)',
       'Imports of goods, services and primary income (BoP, current US$)',
       'Charges for the use of intellectual property, payments (BoP, current US$)',
       'Service imports (BoP, current US$)',
       'Goods imports (BoP, current US$)',
       'Insurance and financial services (% of service imports, BoP)',
       'Imports of goods and services (BoP, current US$)',
       'Primary income payments (BoP, current US$)',
       'Communications, computer, etc. (% of service imports, BoP)',
       'Trade in services (% of GDP)'], dtype=object)

In [72]:
economy_hist = economy_hist.iloc[:,:-1]

In [73]:
economy_hist = pd.melt(economy_hist, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
        value_vars=[str(year) for year in np.arange(1960, 2019)],
        var_name='year',
        value_name='value')

In [74]:
economy_hist.rename(columns={'Country Name':'name', 
                         'Country Code':'code', 
                         'Indicator Name':'indicator_name', 
                         'Indicator Code':'indicator_code'},
                inplace=True)

In [75]:
economy_hist.to_csv('economy_hist.csv')

In [76]:
economy_hist.shape
largestPrimeFactor(3816120)
3816120/(118*2*2*5)

1617.0

In [77]:
economy_hist_chunks = pd.read_csv('MID4/economy_hist.csv', chunksize=1617)

In [78]:
for chunk in economy_hist_chunks:
    chunk.to_sql(name='economy_hist', if_exists='append', con=engine)

In [91]:
query = "SELECT count(*) FROM economy_hist;"
pd_sql.read_sql(query, connection)

     count
0  3816120